.content-text {
    width: 50%;
   
}

@media screen And (max-width : 992px) {
      .why-section {
           .content-text {
          width: 100%;  }
      }

      .download-app {
            .content-text{
             width: 100%;
            }
           
      }

  
}