nav {
    width: 100%;
    padding: 32px 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    

    .navItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
       
        

        ul {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:20px;
            li {
                 list-style: none;

                 a {
                    text-decoration: none;
                    font-size: 18px;
                     text-transform: capitalize;

                 }
            }
            
        }
    }

    .mode {
            padding: 1rem 0.5rem;
            width: 162px;
            height: 45px;
            font-size: 18px;
            text-transform: capitalize;
            opacity: 1;
            border-radius: 100px;
            background-color: #F54748;
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
 




    }
    .bars {
        background: none;
        border: none;
        display: none;
    }
}

@media screen And (max-width : 992px) {
  
    .navBar {
          padding: 24px;
        
          img {
            width: 97px;
            height: 62px;
          }
        .navItem {
       display: none;
     
        }
       .navItem.active {
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.278);
        transition: all 0.3s ease-in;
         
        
      
        ul {
              
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0;
            padding: 24px;
        }
        .mode {
               margin-left: 24px;
        }
       }
        
     .bars {
        display: block;
         font-size: 36px;
    }
    }

    
    }
  
    
